<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section class="banner">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card mt-5">
					<div class="card-body">
					<h1 class="text-center">About</h1>
					<p style="font-size:20px;">A Smart Contact Manager allows users to easily create, edit, and organize their contacts in one place. Users can add basic information such as
					 name, email address, phone number, and other relevant details about the contact.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>